
@import url('https://fonts.googleapis.com/css?family=Skranji');

/* Home html */
body{
    background-image: url("../img/background.png")
}


.register{
    display: none;
}

body,html {
    height: 100%;
  }